body {
    margin: 0;
    padding: 0;
    background: #57cb57;
    font-family: 'Open Sans', sans-serif;
}

#one {
    display: inline-block;
    background-image: url("https://t4.ftcdn.net/jpg/01/35/97/83/360_F_135978399_qplk3WPu7JOA63JPCYVy1fb7MI4nefAL.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    -webkit-background-clip: text;
    text-align: center;
    font-weight: bold;
    font-size: 550px;
    color: transparent;
}
#two {
    display: inline-block;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ2y7CrxMEdKtUKXYU9pSbBwqFwtXO_vqXow&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-clip: border-box;
    -webkit-background-clip: text;
    text-align: center;
    font-weight: bold;
    font-size: 550px;
    color: transparent;
}

#three {
    display: inline-block;
    background-image: url("https://t4.ftcdn.net/jpg/05/51/76/15/360_F_551761552_z6LzhPQUeVFXRpacmIKHwr0auUgsDIYn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    -webkit-background-clip: text;
    text-align: center;
    font-weight: bolder;
    font-size: 550px;
    color: transparent;
}
#four {
    display: inline-block;
    background-image: url("https://cms.zsl.org/sites/default/files/styles/responsive/public/840/840/1/2022-09/shutterstock_1718650024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    -webkit-background-clip: text;
    text-align: center;
    font-weight: bolder;
}