body {
    background: #57cb57;
}

h1 {
    display: inline-block;
    background-image: url("https://t4.ftcdn.net/jpg/01/35/97/83/360_F_135978399_qplk3WPu7JOA63JPCYVy1fb7MI4nefAL.jpg");
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
    font-size: 500px;
    color: yellow;
}